body {
  font-family: "REM" !important;
  font-optical-sizing: auto;

}

/* Navigation Bar */

/* Estilos básicos de la navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1rem;
  opacity: 0.7;
}

.profile_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinea el contenido hacia la izquierda */
}

.contact_info {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
  margin-left: 20px;
}

.contact_info img {
  width: 20px;
  margin-right: 0.5rem;
}

/* Color de los enlaces en la sección de contacto */
.contact_info a {
  color: white;
  /* Cambia el color de los enlaces a blanco */
  text-decoration: none;
  /* Elimina el subrayado por defecto */
}

.contact_info a:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
  /* Agrega subrayado al pasar el cursor */
  text-shadow:
    0 0 5px #fff,
    /* Sombra suave */
    0 0 10px #fff,
    /* Más resplandor */
    0 0 20px red,
    /* Color fuerte */
    0 0 30px red,
    /* Color más intenso */
    0 0 40px red,
    /* Extensión del resplandor */
    0 0 50px red,
    0 0 60px red,
    0 0 70px red;
}

.navbar-menu {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  /* Cambiado a fila para alinear horizontalmente */
  align-items: center;
  /* Alinea verticalmente en el centro */
  margin-right: 30px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 1.2rem;
  /* Espacio entre los enlaces */
  display: block;
  font-size: 1.8rem;
  /* Tamaño de fuente aumentado */
}

.nav-link:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
  text-shadow:
    0 0 5px #fff,
    /* Sombra suave */
    0 0 10px #fff,
    /* Más resplandor */
    0 0 20px red,
    /* Color fuerte */
    0 0 30px red,
    /* Color más intenso */
    0 0 40px red,
    /* Extensión del resplandor */
    0 0 50px red,
    0 0 60px red,
    0 0 70px red;
}


/* Estilos para el botón de menú (para dispositivos móviles) */
.navbar-toggle {
  display: none;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

@media (max-width: 1049px) {
  .navbar-menu {
    margin-left: 100px;

  }
}






/* Titles */




h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  float: left;
  color: white !important;
  /* Cambiado a blanco */
  margin: 30px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
}


/* Used in the About Me sections */

.container {
  display: flex;
}

/* About Me */

#about-me h1 {
  font-size: 65px;
  margin-top: 90px;
  color: white;
  /* Cambiado a blanco */
  text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
  /* Contorno negro de 2px */
}

.profile_image {
  width: 500px;
  height: fit-content;
  vertical-align: middle;
  margin-top: 100px;
  margin-right: 100px;
  cursor: pointer;
  /* Contorno negro */
  box-shadow: 0 0 0 4px black;
  /* Ajusta el tamaño del contorno con el valor de 4px */
  box-shadow:
    0 0 5px black,
    /* Sombra suave */
    0 0 10px black,
    /* Más resplandor */
    0 0 20px black,
    /* Color fuerte */
    0 0 30px black,
    /* Color más intenso */
    0 0 40px black,
    /* Extensión del resplandor */
    0 0 10px red,
    0 0 20px red,
    0 0 20px red;
}

.profile_image:hover {
  border: 2px solid red;
  /* Borde rojo al pasar el ratón */
  box-shadow: 0 3px 10px rgb(155, 9, 9), 0 0 15px red;
  /* Agrega un resplandor adicional */
}

@media (max-width: 1199px) {
  .profile_image {
    width: 300px;


  }



}


.infocontainer {
  width: 100%; /* Este ancho puede ser ajustado según lo que necesites */
  display: flex !important;
  font-size: 25px;
  color: white !important;
  text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
  /* Contorno negro de 2px */
}

@media (max-width: 991px) {
  .myinfo {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    width: 300% !important;
    text-align: left !important;
    margin-left: -350px !important;
  }
}



/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-left: 45px;
}

.all_skills h6 {
  padding-top: 20px; /* Ajusta este valor según el espacio que quieras */

}






.skill {
  background-color: white;
  border: 2px solid transparent;
  /* Borde inicial transparente para evitar el cambio de tamaño */
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 200px;
  height: 110px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  font-size: 20px;
  box-shadow: 0 3px 10px rgb(155, 9, 9);
  cursor: pointer;
  /* Cambia el cursor al pasar sobre la carta */
}

/* Estilo al pasar el ratón sobre la carta */
.skill:hover {
  border: 2px solid red;
  /* Borde rojo al pasar el ratón */
  box-shadow: 0 3px 10px rgb(155, 9, 9), 0 0 15px red;
  /* Agrega un resplandor adicional */
}



.skill img {
  height: 35px;
  align-items: center;
}



/* Projects */


.projects h2 {
  text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
  /* Contorno negro de 2px */

}

.projects-container {
  margin-top: 30px;
  margin-left: 60px;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 5cm;
}

.custom-hr {
  border: 1px solid lightgray !important;
  width: 75%;
  margin-left: 5cm;
}

.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
  color: white;
  /* Cambiado a blanco */
  font-style: oblique;
  text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
  /* Contorno negro de 2px */

}

.educacionletra {
  margin-bottom: 40px !important; /* Ajusta este valor según tus necesidades */
}

.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}


/* Scroll to Top Button */

.iconbutton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: white;
  /* Cambiado a blanco */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
  z-index: 100;
}

.iconbutton img {
  width: 30px;
  height: 34px;
  margin: auto;
  /* Centra la imagen automáticamente */
  display: block;
  /* Asegura que la imagen esté alineada correctamente */
  margin-top: 4px;
  /* Ajusta este valor para mover la imagen hacia abajo */

}

/* Buttons */


#scrollToTopBtn {
  border: 2px solid rgb(163, 0, 0) !important; /* Contorno rojo con grosor de 2px */
  transition: box-shadow 0.3s ease; /* Transición suave para el efecto hover */
}

#scrollToTopBtn:hover {
  box-shadow: 0 6px 68px rgba(163, 0, 0, 0.9); /* Sombra con color rojo más intenso en hover */
}



button {
  background-color: #fff;
  color: white;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: white;
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}


video {
  position: fixed;
  /* Mantiene el video fijo en la pantalla */
  top: 0;
  /* Alinea el video con la parte superior de la ventana */
  left: 0;
  /* Alinea el video con la parte izquierda de la ventana */
  width: 100vw;
  /* Establece el ancho del video al 100% del viewport width */
  height: 100vh;
  /* Establece la altura del video al 100% del viewport height */
  object-fit: cover;
  /* Asegura que el video cubra todo el fondo, manteniendo su proporción */
  z-index: -1;
  /* Envía el video detrás de otros contenidos */
}


.cursoslink-a {
  color: #007bff; /* Color del enlace en estado normal */
}

.cursoslink-a:hover {
  color: red;
  font-weight: bolder;
  text-decoration: underline;
  /* Agrega subrayado al pasar el cursor */
  text-shadow:
    0 0 5px #fff,
    /* Sombra suave */
    0 0 10px #fff,
    /* Más resplandor */
    0 0 20px white,
    /* Color fuerte */
    0 0 30px white,
    /* Color más intenso */
    0 0 40px white,
    /* Extensión del resplandor */
    0 0 50px red,
    0 0 60px red,
    0 0 70px red;
}

/* intro */

/* Estilo para el overlay de introducción */
#intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease, visibility 1s ease;
}




#intro-overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

.intro-content {
  z-index: 1;
  /* Coloca el contenido por encima del video */
  color: white;
  /* Asegura que el texto sea visible */
  text-align: center;
  /* Centra el texto y el botón horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra el contenido horizontalmente */
}



.button_slide {
  background-color: black !important;
  /* Cambia el fondo a negro */
  color: #FFF !important;
  border: 2px solid red !important;
  border-radius: 0px !important;
  padding: 18px 36px !important;
  display: inline-block !important;
  font-family: "Lucida Console", Monaco, monospace !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
  cursor: pointer !important;
  box-shadow: inset 0 0 0 0 red !important;
  -webkit-transition: ease-out 0.4s !important;
  -moz-transition: ease-out 0.4s !important;
  transition: ease-out 0.4s !important;
}


.button_slide.slide_left:hover {
  box-shadow: inset 0 0 0 50px red !important;
}




.bienvenido {
  user-select: none;
  font-size: 100px;
  margin: 0;
  padding: 20px;
  color: white;
  /* Color del texto */
  text-shadow:
    1px 1px 0 #000,
    /* Sombra negra 1 */
    -1px -1px 0 #000,
    /* Sombra negra 2 */
    1px -1px 0 #000,
    /* Sombra negra 3 */
    -1px 1px 0 #000,
    /* Sombra negra 4 */
    0 0 10px rgba(255, 255, 255, 0.7),
    /* Sombra blanca */
    0 0 20px rgba(255, 255, 255, 0.5);
  /* Resplandor adicional */

  text-transform: uppercase;
  /* Convertir texto a mayúsculas */
  letter-spacing: 2px;
  /* Espaciado entre letras */
  font-family: 'REM' !important;
  /* Cambiar la fuente */


}

ul li {
  padding-bottom: 10px; /* Ajusta este valor según tus necesidades */
}


.educacionlista {
  width: 85%;
  display: flex !important;
  justify-content: center !important; /* Centra el contenido horizontalmente */
  align-items: center !important; /* Centra el contenido verticalmente (si el contenedor tiene una altura establecida) */
  text-align: left !important; /* Alinea el texto a la izquierda */
}
